body {
    text-align: center;
    font-family: "Helvetica","Arial","sans-serif";
    color: #223c50;
    padding: 20px;
}

@media only screen and (min-width: 768px) {
    body {
        padding-left: 15%;
        padding-right: 15%;    
    }
}

#foundry-logo {
    height: 90px;
}

.course {
    border-bottom: 1px solid #223c50;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    z-index: 10;
}

.course:hover {
    color: #FFFFFF;
    background-color: #223c50;
}

.courseInfo {
    height: auto;
}

.noDisplay {
    display: none;
}
